@use '../../styles/partials/variables' as vars;
@use '../../styles/partials/mixins' as mixin;

.video-list{
    display: flex;
    flex-direction: column;
    padding: 0 vars.$padding-mobile vars.$padding-mobile vars.$padding-mobile;
    gap: 1rem;

    @include mixin.tablet{
        padding: 0 vars.$padding-tablet vars.$padding-tablet vars.$padding-tablet;
        gap: 2.25rem;
    }

    @include mixin.desktop{
        padding: 0 vars.$padding-desktop 3rem 1rem;
        gap: 1rem;
    }

    &__header{
        color: vars.$Silver;
        font-size: vars.$fontsize-mobile;
        margin: 0 0 1rem 0;

        @include mixin.tablet{
            font-size: vars.$fontsize-tablet;
            margin: 1.5rem 0 0 0;
        }

        @include mixin.desktop{
            font-size: vars.$fontsize-desktop;
            margin: 1.5rem 0 0 0;
            font-weight: 600;
        }
    }

    &__item{
        display: flex;
        cursor: pointer;
        width: 100%;
        gap: 1rem;
    }

    &__image{
        width: 150x;
        height: 90px;
        border-radius: 4px;

        @include mixin.tablet{
            width: 140px;
            height: 80px;
        }

        @include mixin.desktop{
            max-width: 120px;
            max-height: 60px;
        }
    }

    &__details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title{
        font-size: vars.$fontsize-mobile;
        font-weight: 700;
        line-height: 1.25rem;
        color: vars.$BrainFlix-Black;
        padding-top: 0.625rem;
        margin: 0;

        @include mixin.tablet{
            font-size: vars.$fontsize-tablet;
            padding-top: 0.313rem;
        }

        @include mixin.desktop{
            font-size: vars.$fontsize-desktop;
            padding-top: 0.313rem;
        }
    }

    &__channel{
        font-size: vars.$fontsize-mobile;
        color: vars.$BrainFlix-Black;
        padding-bottom: 0.625rem;
        margin: 0;

        @include mixin.tablet{
            font-size: vars.$fontsize-tablet;
            padding-bottom: 0.313rem;
        }

        @include mixin.desktop{
            font-size: vars.$fontsize-desktop;
            padding-bottom: 0.313rem;
        }
    }
}