.video-list {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  gap: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video-list {
    padding: 0 2.25rem 2.25rem 2.25rem;
    gap: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .video-list {
    padding: 0 7.5rem 3rem 1rem;
    gap: 1rem;
  }
}
.video-list__header {
  color: #AFAFAF;
  font-size: 1.125rem;
  margin: 0 0 1rem 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video-list__header {
    font-size: 1rem;
    margin: 1.5rem 0 0 0;
  }
}
@media (min-width: 1280px) {
  .video-list__header {
    font-size: 0.75rem;
    margin: 1.5rem 0 0 0;
    font-weight: 600;
  }
}
.video-list__item {
  display: flex;
  cursor: pointer;
  width: 100%;
  gap: 1rem;
  text-decoration: none;
}
.video-list__image {
  width: 150x;
  height: 90px;
  border-radius: 4px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video-list__image {
    width: 140px;
    height: 80px;
  }
}
@media (min-width: 1280px) {
  .video-list__image {
    max-width: 120px;
    max-height: 60px;
  }
}
.video-list__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.video-list__title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: #323232;
  padding-top: 0.625rem;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video-list__title {
    font-size: 1rem;
    padding-top: 0.313rem;
  }
}
@media (min-width: 1280px) {
  .video-list__title {
    font-size: 0.75rem;
    padding-top: 0.313rem;
  }
}
.video-list__channel {
  font-size: 1.125rem;
  color: #323232;
  padding-bottom: 0.625rem;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video-list__channel {
    font-size: 1rem;
    padding-bottom: 0.313rem;
  }
}
@media (min-width: 1280px) {
  .video-list__channel {
    font-size: 0.75rem;
    padding-bottom: 0.313rem;
  }
}