//colours 

$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095FF;
$Silver: #AFAFAF;
$White: #FFFFFF;
$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065AD;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

//default padding

$padding-mobile: 1rem;
$padding-tablet: 2.25rem;
$padding-desktop: 7.5rem;

//font size

$fontsize-mobile: 1.125rem;
$fontsize-tablet: 1rem;
$fontsize-desktop: 0.75rem;