.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem 1.5rem 1rem;
  flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    flex-wrap: nowrap;
    padding: 1rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .header {
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 1rem 7.5rem;
  }
}
.header__logo-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__logo-container {
    justify-content: flex-start;
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .header__logo-container {
    justify-content: flex-start;
    width: 50%;
  }
}
.header__logo {
  width: 120px;
  height: 25px;
  order: 1;
}
.header__search-container {
  display: flex;
  position: relative;
  gap: 1rem;
  align-self: flex-start;
  align-items: center;
  order: 2;
  flex-grow: 1;
  height: 40px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__search-container {
    max-width: 300px;
  }
}
@media (min-width: 1280px) {
  .header__search-container {
    max-width: 300px;
    margin-left: auto;
  }
}
.header__search-icon {
  position: absolute;
  left: 0.625rem;
}
.header__search {
  flex-grow: 1;
  outline: none;
  padding: 0.75rem 0.75rem 0.75rem 2rem;
  border: 1px solid;
  border-color: #E1E1E1;
  border-radius: 4px;
  background-color: #FAFAFA;
  box-sizing: border-box;
}
.header__search:focus {
  border: 2px solid;
  border-color: #0095FF;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__search {
    order: 2;
    width: 300px;
  }
}
@media (min-width: 1280px) {
  .header__search {
    order: 2;
    width: 300px;
  }
}
.header__avatar {
  display: flex;
  order: 3;
  align-items: center;
}
.header__avatar-image {
  border-radius: 50%;
  background-color: #E1E1E1;
  width: 36px;
  height: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10% center;
     object-position: 10% center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__avatar-image {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 1280px) {
  .header__avatar-image {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__avatar {
    order: 4;
  }
}
@media (min-width: 1280px) {
  .header__avatar {
    order: 4;
  }
}
.header__upload-button {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 0;
  background-color: #0095FF;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  order: 4;
}
.header__upload-button:hover {
  background-color: #0065AD;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__upload-button {
    order: 3;
    max-width: 160px;
  }
}
@media (min-width: 1280px) {
  .header__upload-button {
    order: 3;
    max-width: 160px;
  }
}
.header__text {
  flex: 1;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  font-weight: 600;
}