@use '../../styles/partials/variables' as vars;
@use '../../styles/partials/mixins' as mixin;

.video-player{
    &__video{
        width: 100%;
        margin-bottom: 24px;
        background-color: vars.$BrainFlix-DarkBlack;

        @include mixin.tablet{
            box-sizing: border-box;
            padding: 0 vars.$padding-tablet;
        }

        @include mixin.desktop{
            box-sizing: border-box;
            padding: 0 175px;
            margin-bottom: 0;
        }
    }
}