.comments {
  padding: 0 16px 16px 16px;
}
.comments__header {
  margin: 0;
  padding: 16px 0 24px 0;
  font-size: 16px;
}
.comments__profile-avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  -o-object-position: 10% center;
     object-position: 10% center;
  -o-object-fit: cover;
     object-fit: cover;
}
.comments__form-container {
  display: flex;
  gap: 16px;
}
.comments__form-container--addComments {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}
.comments__form-container--avatar {
  margin-top: 24px;
}
.comments__add-comments {
  display: flex;
  flex-direction: column;
}
.comments__label {
  padding-bottom: 4px;
  color: #AFAFAF;
  font-weight: 700;
}
.comments__textbox {
  height: 120px;
  border-radius: 6px;
  padding: 12px;
  font-size: 16px;
  outline: none;
}
.comments__textbox::-moz-placeholder {
  color: #323232;
  font-family: "AvenirNextTLPro", sans-serif;
}
.comments__textbox::placeholder {
  color: #323232;
  font-family: "AvenirNextTLPro", sans-serif;
}
.comments__textbox:focus {
  border: 2px solid;
  border-color: #0095FF;
}
.comments__divider {
  border: none;
  border-top: 1px solid #E1E1E1;
}
.comments__comment-button {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 0;
  background-color: #0095FF;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 16px;
}
.comments__comment-button:hover {
  background-color: #0065AD;
}
.comments__button-text {
  flex: 1;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  font-weight: 600;
}

.comment {
  display: flex;
  padding-top: 10px;
  gap: 16px;
}
.comment__avatar {
  border-radius: 50%;
  background-color: #E1E1E1;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.comment__container {
  display: flex;
  flex-direction: column;
}
.comment__subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment__name, .comment__date {
  margin: 0;
}
.comment__date {
  color: #AFAFAF;
}
.comment__comment {
  font-size: 18px;
}