.comments {
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comments {
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .comments {
    padding: 0 1.25rem 0 7.5rem;
  }
}
.comments__header {
  margin: 0;
  padding: 1rem 0 1.5rem 0;
  font-size: 1.125rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comments__header {
    font-size: 1rem;
    margin: 0 0 24px 0;
  }
}
@media (min-width: 1280px) {
  .comments__header {
    font-size: 0.75rem;
    margin: 0 0 24px 0;
  }
}
.comments__profile-avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  -o-object-position: 10% center;
     object-position: 10% center;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comments__profile-avatar {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 1280px) {
  .comments__profile-avatar {
    width: 40px;
    height: 40px;
  }
}
.comments__form-container {
  display: flex;
  gap: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comments__form-container {
    flex-wrap: nowrap;
    align-items: stretch;
    position: relative;
    padding: 12px 0;
  }
}
@media (min-width: 1280px) {
  .comments__form-container {
    flex-wrap: nowrap;
    align-items: stretch;
    position: relative;
    padding: 12px 0;
    gap: 36px;
  }
}
.comments__form-container__avatar {
  display: flex;
  margin-top: 1.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comments__form-container__avatar {
    margin-top: 0;
  }
}
@media (min-width: 1280px) {
  .comments__form-container__avatar {
    margin-top: 0;
  }
}
.comments__add-comments-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comments__add-comments-container {
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    padding: 0;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .comments__add-comments-container {
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    padding: 0;
    width: 100%;
  }
}
.comments__add-comments {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  resize: none;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comments__add-comments {
    flex-direction: row;
    align-items: center;
    padding-bottom: 1.313rem;
    flex-wrap: nowrap;
    padding: 0;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .comments__add-comments {
    flex-direction: row;
    align-items: center;
    padding-bottom: 1.313rem;
    flex-wrap: nowrap;
    padding: 0;
    width: 100%;
  }
}
.comments__label {
  padding-bottom: 0.25rem;
  color: #AFAFAF;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comments__label {
    font-size: 0.875rem;
    position: absolute;
    top: -20px;
  }
}
@media (min-width: 1280px) {
  .comments__label {
    font-size: 0.75rem;
    position: absolute;
    top: -20px;
  }
}
.comments__textbox {
  height: 120px;
  border: 2px solid #E1E1E1;
  border-radius: 6px;
  padding: 0.75rem;
  font-size: 1rem;
  outline: none;
  box-sizing: border-box;
  resize: none;
  margin-bottom: 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comments__textbox {
    height: 40px;
    flex-grow: 1;
    overflow: hidden;
    line-height: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
    margin: 0 16px 0 0;
  }
}
@media (min-width: 1280px) {
  .comments__textbox {
    height: 40px;
    box-sizing: border-box;
    flex-grow: 1;
    overflow: hidden;
    line-height: 0.5rem;
    padding: 1rem;
    font-size: 0.75rem;
    margin: 0 36px 0 0;
  }
}
.comments__textbox::-moz-placeholder {
  color: #323232;
  font-family: "AvenirNextTLPro", sans-serif;
}
.comments__textbox::placeholder {
  color: #323232;
  font-family: "AvenirNextTLPro", sans-serif;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comments__textbox::-moz-placeholder {
    font-size: 0.875rem;
  }
  .comments__textbox::placeholder {
    font-size: 0.875rem;
  }
}
@media (min-width: 1280px) {
  .comments__textbox::-moz-placeholder {
    font-size: 0.75rem;
  }
  .comments__textbox::placeholder {
    font-size: 0.75rem;
  }
}
.comments__textbox:focus {
  border: 2px solid;
  border-color: #0095FF;
}
.comments__comment-button {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 0;
  background-color: #0095FF;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 0 0 0 0.375rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comments__comment-button {
    max-width: 160px;
    margin: 0;
    flex-grow: 1;
  }
}
@media (min-width: 1280px) {
  .comments__comment-button {
    max-width: 160px;
    margin: 0;
    flex-grow: 1;
  }
}
.comments__comment-button:hover {
  background-color: #0065AD;
}
.comments__button-text {
  flex: 1;
  position: absolute;
  left: 53%;
  transform: translatex(-47%);
  font-weight: 600;
}
.comments__divider {
  border: none;
  border-top: 1px solid #E1E1E1;
}
@media (min-width: 1280px) {
  .comments__divider {
    width: calc(100% + 20px);
  }
}
.comments__comment-icon {
  padding: 0 0 0 0.188rem;
}

.comment {
  display: flex;
  padding-top: 0.625rem;
  gap: 1rem;
}
@media (min-width: 1280px) {
  .comment {
    gap: 36px;
  }
}
.comment__avatar {
  border-radius: 50%;
  background-color: #E1E1E1;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__avatar {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 1280px) {
  .comment__avatar {
    width: 40px;
    height: 40px;
  }
}
.comment__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.comment__subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment__name, .comment__date {
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__name, .comment__date {
    font-size: 1rem;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .comment__name, .comment__date {
    font-size: 0.75rem;
    font-weight: 600;
  }
}
.comment__date {
  color: #AFAFAF;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__date {
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__date {
    font-size: 0.75rem;
  }
}
.comment__comment {
  font-size: 1.125rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__comment {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .comment__comment {
    font-size: 0.75rem;
  }
}
.comment__delete {
  margin-left: auto;
}

.invalid {
  border: 2px solid #D22D2D;
}