@use '../../styles/partials/variables' as vars;
@use '../../styles/partials/mixins' as mixin;

.comments{
    padding: 0 16px 16px 16px;

    @include mixin.tablet{
        padding: 0 vars.$padding-tablet;
    }

    &__header{
        margin: 0;
        padding: 16px 0 24px 0;
        font-size: vars.$fontsize-mobile;

        @include mixin.tablet{
            font-size: vars.$fontsize-tablet;
        }
    }

    &__profile-avatar{
        border-radius: 50%;
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        object-position: 10% center;
        object-fit: cover;

        @include mixin.tablet{
            width: 40px;
            height: 40px;
        }
    }

    &__form-container{
        display: flex;
        gap: 16px;

        @include mixin.tablet{
            flex-wrap: nowrap;
            align-items: center;
        }

        &--addComments{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 16px;

            @include mixin.tablet{
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
            }
        }

        &--avatar{
            display: flex;
            margin-top: 24px;

            @include mixin.tablet{
                margin-top: 0;
            
            }
        }
    }

    &__add-comments{
        flex-grow: 2;
        display: flex;
        flex-direction: column;

        @include mixin.tablet{
            justify-content: center;
            padding-bottom: 21px;
        }
    }

    &__label{
        padding-bottom: 4px;
        color: vars.$Silver;
        font-weight: 600;

        @include mixin.tablet{
            font-size: 14px;
        }
    }

    &__textbox{
        height: 120px;
        border: 2px solid vars.$Mercury;
        border-radius: 6px;
        padding: 12px;
        font-size: 16px;
        outline: none;
        box-sizing: border-box;
        resize: none;

        @include mixin.tablet{
            height: 40px;
            box-sizing: border-box;
            flex-grow: 1;
            overflow: hidden;
            line-height: 8px;
            padding: 16px;
        }
    
        &::placeholder{
            color: vars.$BrainFlix-Black;
            font-family: 'AvenirNextTLPro', sans-serif;
        }

        &:focus{
            border: 2px solid;
            border-color: vars.$BrainFlix-Blue;
        }
    }

    &__divider{
        border: none;
        border-top: 1px solid vars.$Mercury;
    }

    &__comment-button{
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;
        height: 40px;
        border: 0;
        background-color: vars.$BrainFlix-Blue;
        border-radius: 4px;
        color: vars.$White;
        cursor: pointer;
        margin-bottom: 16px;
        padding: 0 0 0 6px;
        
        
        @include mixin.tablet{
            max-width: 160px;
            margin-bottom: 0;
        }

        &:hover{
            background-color: vars.$BrainFlix-DarkBlue;
        }
    }

    &__comment-icon{
       padding: 0 0 0 3px;
    }

    &__button-text{
        flex: 1;
        position: absolute;
        left: 53%;
        transform: translatex(-47%);
        font-weight: 600;
    }
}


.comment{
    display: flex;
    padding-top: 10px;
    gap: 16px;

    &__avatar{
        border-radius: 50%;
        background-color: vars.$Mercury;
        width: 36px;
        height: 36px;
        flex-shrink: 0;

        @include mixin.tablet{
            width: 40px;
            height: 40px;
        }
    }

    &__container{
        display: flex;
        flex-direction: column;
    }

    &__subcontainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name, &__date{
        margin: 0;

        @include mixin.tablet{
            font-size: vars.$fontsize-tablet;
            font-weight: 600;
        }
    }

    &__date{
        color: vars.$Silver;

        @include mixin.tablet{
            font-size: vars.$fontsize-tablet;
        }
    }

    &__comment{
        font-size: 18px;

        @include mixin.tablet{
            font-size: vars.$fontsize-tablet;
        }
    }
}