@use '../../styles/partials/variables' as vars;
@use '../../styles/partials/mixins' as mixin;

.comments{
    padding: 0 vars.$padding-mobile vars.$padding-mobile vars.$padding-mobile;

    @include mixin.tablet{
        padding: 0 vars.$padding-tablet;
    }

    @include mixin.desktop{
        padding: 0 1.25rem 0 vars.$padding-desktop;
    }

    &__header{
        margin: 0;
        padding: vars.$padding-mobile 0 1.5rem 0;
        font-size: vars.$fontsize-mobile;

        @include mixin.tablet{
            font-size: vars.$fontsize-tablet;
        }

        @include mixin.desktop{
            font-size: vars.$fontsize-desktop;
        }
    }

    &__profile-avatar{
        border-radius: 50%;
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        object-position: 10% center;
        object-fit: cover;

        @include mixin.tablet{
            width: 40px;
            height: 40px;
        }

        @include mixin.desktop{
            width: 40px;
            height: 40px;
        }
    }

    &__form-container{
        display: flex;
        gap: 1rem;

        @include mixin.tablet{
            flex-wrap: nowrap;
            align-items: center;
        }

        @include mixin.desktop{
            flex-wrap: nowrap;
            align-items: center;
        }

        &--addComments{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 1rem;

            @include mixin.tablet{
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
            }

            @include mixin.desktop{
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
            }
        }

        &--avatar{
            display: flex;
            margin-top: 1.5rem;

            @include mixin.tablet{
                margin-top: 0;
            }

            @include mixin.desktop{
                margin-top: 0;
            }
        }
    }

    &__add-comments{
        flex-grow: 2;
        display: flex;
        flex-direction: column;

        @include mixin.tablet{
            justify-content: center;
            padding-bottom: 1.313rem;
        }

        @include mixin.desktop{
            justify-content: center;
            padding-bottom: 1.313rem;
        }
    }

    &__label{
        padding-bottom: 0.25rem;
        color: vars.$Silver;
        font-weight: 600;

        @include mixin.tablet{
            font-size: 0.875rem;
        }

        @include mixin.desktop{
            font-size: 0.75rem;
        }
    }

    &__textbox{
        height: 120px;
        border: 2px solid vars.$Mercury;
        border-radius: 6px;
        padding: 0.75rem;
        font-size: 1rem;
        outline: none;
        box-sizing: border-box;
        resize: none;

        @include mixin.tablet{
            height: 40px;
            box-sizing: border-box;
            flex-grow: 1;
            overflow: hidden;
            line-height: 0.5rem;
            padding: 1rem;
            font-size: vars.$fontsize-tablet;
        }

        @include mixin.desktop{
            height: 40px;
            box-sizing: border-box;
            flex-grow: 1;
            overflow: hidden;
            line-height: 0.5rem;
            padding: 1rem;
            font-size: vars.$fontsize-desktop;
        }
    
        &::placeholder{
            color: vars.$BrainFlix-Black;
            font-family: 'AvenirNextTLPro', sans-serif;

            @include mixin.tablet{
                font-size: 0.875rem;
            }

            @include mixin.desktop{ 
                font-size: 0.75rem;
            }
        }

        &:focus{
            border: 2px solid;
            border-color: vars.$BrainFlix-Blue;
        }
    }

    &__divider{
        border: none;
        border-top: 1px solid vars.$Mercury;

        @include mixin.desktop{
            width: calc(100% + 20px);
        }
    }

    &__comment-button{
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;
        height: 40px;
        border: 0;
        background-color: vars.$BrainFlix-Blue;
        border-radius: 4px;
        color: vars.$White;
        cursor: pointer;
        margin-bottom: 1rem;
        padding: 0 0 0 0.375rem;
        
        
        @include mixin.tablet{
            max-width: 160px;
            margin-bottom: 0;
        }

        @include mixin.desktop{
            max-width: 160px;
            margin-bottom: 0;
        }

        &:hover{
            background-color: vars.$BrainFlix-DarkBlue;
        }
    }

    &__comment-icon{
       padding: 0 0 0 0.188rem;
    }

    &__button-text{
        flex: 1;
        position: absolute;
        left: 53%;
        transform: translatex(-47%);
        font-weight: 600;
    }
}


.comment{
    display: flex;
    padding-top: 0.625rem;
    gap: 1rem;

    &__avatar{
        border-radius: 50%;
        background-color: vars.$Mercury;
        width: 36px;
        height: 36px;
        flex-shrink: 0;

        @include mixin.tablet{
            width: 40px;
            height: 40px;
        }

        @include mixin.desktop{
            width: 40px;
            height: 40px;
        }
    }

    &__container{
        display: flex;
        flex-direction: column;
        flex-grow: 1
    }

    &__subcontainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name, &__date{
        margin: 0;

        @include mixin.tablet{
            font-size: vars.$fontsize-tablet;
            font-weight: 600;
        }

        @include mixin.desktop{
            font-size: vars.$fontsize-desktop;
            font-weight: 600;
        }
    }

    &__date{
        color: vars.$Silver;

        @include mixin.tablet{
            font-size: vars.$fontsize-tablet;
        }

        @include mixin.tablet{
            font-size: vars.$fontsize-desktop;
        }
    }

    &__comment{
        font-size: vars.$fontsize-mobile;

        @include mixin.tablet{
            font-size: vars.$fontsize-tablet;
        }

        @include mixin.desktop{
            font-size: vars.$fontsize-desktop;
        }
    }
}