.video-details {
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video-details {
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .video-details {
    padding: 0 1.25rem 0 7.5rem;
  }
}
.video-details__title {
  margin: 0;
  font-size: 2rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video-details__title {
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .video-details__title {
    padding-bottom: 0;
    padding-top: 1.5rem;
  }
}
.video-details__container {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  padding: 1rem 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video-details__container {
    justify-content: space-between;
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .video-details__container {
    justify-content: space-between;
    padding-bottom: 0;
  }
}
.video-details__subcontainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video-details__subcontainer {
    flex-direction: row;
    gap: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .video-details__subcontainer {
    flex-direction: row;
    gap: 2.5rem;
  }
}
.video-details__author {
  margin: 0;
  font-weight: bold;
  font-size: 1.125rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video-details__author {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .video-details__author {
    font-size: 0.75rem;
  }
}
.video-details__date {
  margin: 0;
  color: #AFAFAF;
  font-size: 1.125rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video-details__date {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .video-details__date {
    font-size: 0.75rem;
  }
}
.video-details__views-container {
  display: flex;
}
.video-details__likes-container {
  display: flex;
}
.video-details__views {
  margin: 0;
  color: #AFAFAF;
  font-size: 1.125rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video-details__views {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .video-details__views {
    font-size: 0.75rem;
  }
}
.video-details__likes {
  margin: 0;
  color: #AFAFAF;
  font-size: 1.125rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video-details__likes {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .video-details__likes {
    font-size: 0.75rem;
  }
}
.video-details__viewIcon {
  padding-right: 0.313rem;
}
.video-details__likeIcon {
  padding-right: 0.313rem;
}
.video-details__description {
  font-size: 1.125rem;
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video-details__description {
    padding: 1rem 0;
    font-size: 1rem;
    line-height: 150%;
  }
}
@media (min-width: 1280px) {
  .video-details__description {
    padding: 1rem 0;
    font-size: 0.75rem;
    line-height: 150%;
  }
}
.video-details__divider {
  border: none;
  border-top: 1px solid #E1E1E1;
}
@media (min-width: 1280px) {
  .video-details__divider {
    width: calc(100% + 20px);
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video-details__divider--hide {
    display: none;
  }
}
@media (min-width: 1280px) {
  .video-details__divider--hide {
    display: none;
  }
}